<br>
<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Total Cost" %><br />
	<%= f.collection_select :room_id , Room.all, :id, :price %>
  </div>
  <div class="field">
    <%= f.label :"Check In" %><br />
    <%= f.date_select :checkin %>
  </div>
  <div class="field">
    <%= f.label :"Check Out" %><br />
    <%= f.date_select :checkout %>
  </div>
  <div class="field">
    <%= f.label :"Number of People" %><br />
    <%= f.select :noOfPeople,[1,2,3,4,5] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
