<br>
<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Please confirm the Hotel" %><br />
	<%= f.collection_select :room_id, Hotel.all, :id, :name %>
  </div>
   <div class="field">
    <%= f.label :category %><br />
	<%= f.collection_select :room_id, Room.all, :id, :category %>
  </div>
  <div class="field">
    <%= f.label :"Check In" %><br />
    <%= f.date_select :checkin , {:order => [:day,:month,:year], start_year: Time.now.year, start_month: Time.now.month, end_year: Time.now.year + 1} %>
  </div>
  <div class="field">
    <%= f.label :"Check Out" %><br />
    <%= f.date_select :checkout,  {:order => [:day,:month,:year], start_year: Time.now.year,start_month: Time.now.month, end_year: Time.now.year + 1} %>
  </div>
  <div class="field">
    <%= f.label :"Number of People" %><br />
    <%= f.select :noOfPeople,[1,2,3,4,5] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
