<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Room</th>
    <th>Checkin</th>
    <th>Checkout</th>
    <th>Noofpeople</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.room_id %></td>
    <td><%= booking.checkin %></td>
    <td><%= booking.checkout %></td>
    <td><%= booking.noOfPeople %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
