<br>
<br>
<p id="notice"><%= notice %></p>


<p>
  <b>Room Name:</b>
  <%= @booking.room.hotel.name %>
</p>
<p>
  <b>Room Type:</b>
  <%= @booking.room.category %>
</p>

<p>
  <b>Check In Date:</b>
  <%= @booking.checkin %>
</p>

<p>
  <b>Check Out Date:</b>
  <%= @booking.checkout %>
</p>

<p>
  <b>Number of People Staying:</b>
  <%= @booking.noOfPeople %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', rooms_path %> |
<%= link_to 'Payment', new_payment_path %>
