<p id="notice"><%= notice %></p>

<p>
  <b>Room:</b>
  <%= @booking.room_id %>
</p>

<p>
  <b>Check In Date:</b>
  <%= @booking.checkin %>
</p>

<p>
  <b>Check Out Date:</b>
  <%= @booking.checkout %>
</p>

<p>
  <b>Number of People Staying:</b>
  <%= @booking.noOfPeople %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
