<p id="notice"><%= notice %></p>

<p>
  <b>Booking:</b>
  <%= @payment.booking_id %>
</p>

<p>
  <b>Thanks for booking with us</b>
  <%= @payment.user.name %>
</p>

<p>
  <b>Paid by:</b>
  <%= @payment.pamentMethod %>
</p>

<p>
  <b>Deposit paid:</b>
  <%= @payment.deposit %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
