<h1>Listing rooms</h1>

<table>
  <tr>
    <th>Hotel</th>
    <th>Category</th>
    <th>Price</th>
    <th>Extras</th>
    <th>Picture of the Room</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= Hotel.name %></td>
    <td><%= room.category %></td>
    <td><%= room.price %></td>
    <td><%= room.extras %></td>
    <td><%= image_tag(room.roomImage , :size => "100x100")%></td>
    <td><%= link_to 'Show', room %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Room', new_room_path %>
