<br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <b>Hotel:</b>
  <%= @room.hotel.name %>
</p>

<p>
  <b>Category:</b>
  <%= @room.category %>
</p>

<p>
  <b>Price:</b>
  <%= @room.price %>
</p>

<p>
  <b>Extras:</b>
  <%= @room.extras %>
</p>

<p>
  <b>Picture:</b>
 <%= image_tag(@room.roomImage , :size => "100x100")%>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %> |
<%= link_to 'Book', new_booking_path %>
