<!DOCTYPE html>
<html>
<head>
  <title>Hotelsapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "banner">
	<%= image_tag("rails.png", :size =>"50x50")%>
	Hotel Hunter.com
</div>
<%= yield %>

</body>
</html>
